p{
  color:white;
  font-size: 120%;
  margin: 0% 6%;
}
footer{
  margin: 5% 0%;
}
h2{
  color: white;
  text-shadow: 3px 3px red;
  margin: 2% 0%;
}
section{
  
  margin: 0% 6%;
  margin-top: 4%;
  background: rgb(0,0,0);
background: radial-gradient(circle, rgba(0,0,0,0.8064516129032258) 0%, rgba(0,0,0,0.44441526610644255) 100%);
			border-radius: 10px 10px;
			margin-bottom: 5px;
			border:1px solid #999;
}