.title{
  color: white;
  font-size: 2.4em;
  background-size: cover;
  text-align: center;
  text-shadow: 3px 3px blue;
  margin: 0% 40%;
  }
  
  body {
  background-image: url('../img/img/space.jpg') ;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size: 100% 99.99%;
  background-position: center center;
  background-attachment: fixed;
  text-align: center;
  }
  .navbar{
    background-color: black;
    text-align: center;
  }
    
  
  #home{
    background-color: rgba(0, 0, 0, 40%);
    border-color: transparent;
    background-image:url("../img/buttons/home.png");
    padding: 32px;
    background-repeat: no-repeat;
    border-radius: 10px 10px;
  
}
#again{
  background-color: rgba(0, 0, 0, 40%);
  border-color: transparent;
  background-image:url("../img/buttons/again.png");
  padding: 32px;
  background-repeat: no-repeat;
  border-radius: 10px 10px;
}

#cards{
background-color: rgba(0, 0, 0, 40%);
border-color: transparent;
background-image:url("../img/buttons/cards.png");
padding: 32px;
background-repeat: no-repeat;
border-radius: 10px 10px;

}
#carta{
  width: 40px;
  height: 40px;
  margin:10px;
  padding:20px;
}
 
@media (orientation: landscape) { 
      .navbar-brand{
        float: left;
        padding: 1% 2%;
      }
      div#table_memoria{
      background-color: transparent;
      border: transparent 1px solid;
      margin: 0px 8%;
      padding-bottom: 45%;
      text-align: center;
      display: grid;
      grid-template-columns: repeat(8,12.5%);
      grid-template-rows: repeat(5,320%);
      }
      div#table_memoria > div{
      background: url(../img/logo.png) no-repeat;
      background-size: 100%;
      border: white 1px solid;
      border-radius: 10px 10px 10px 10px;
			box-shadow: 0px 0px 8px blue;
      margin: 0.5%;
      padding: 1% 1%;
      font-size: 64px;
      cursor: pointer;
      text-align: center;
      
      }
    .cronometro{
        width:50%;
        margin: 0px;
        display: inline-block;
    } 
    #hms{
      margin: 0px;
      font-size:1.5em;
      color:#fff;
      font-family:alarm;
    }
    #movimientos{
      width: 36%;
      margin: 0px;
      display: inline-block;
      text-align:center;
      font-size:1.5em;
      color:#fff;
      font-family: alarm;  
    }
    #winban{
      position: absolute;
      top:28%;
      margin-left: 30%;
      text-align: center;
    }
    #winbantexto{
      position: absolute;
      background-color: rgba(0, 0, 0, 40%);
      top:10%;
      width: 80%;
      color: white;
      text-shadow: 3px 3px blue;
      font-size: 1.5em;
    } 
    .sobre{
      margin-left: 10%;
    }
    .boton{
      position: relative;
      left:-5%;
    }
    footer p{
      color: white;
      font-size: 120%;
      }
}
@media (orientation: portrait) { 
    .navbar-brand{
      float: left;
      padding:1.6% 2%;
    }
  
    div#table_memoria{
      background-color: transparent;
      border: transparent 1px solid;
      margin: 0px 8%;
      padding-bottom: 155%;
      text-align: center;
      display: grid;
      grid-template-columns: repeat(4,25%);
      grid-template-rows: repeat(10,150%);
      clear: both;
    }
    div#table_memoria > div{
      background: url(../img/logo.png) no-repeat;
      background-size: 100%;
      border: white 1px solid;
      border-radius: 10px 10px 10px 10px;
			box-shadow: 0px 0px 8px blue;
      margin: 0.5%;
      padding: 1% 1%;
      font-size: 64px;
      cursor: pointer;
      text-align: center;
    
    }
    .cronometro{
      width:50%;
      margin: 0px;
      display: inline-block;
  } 
  #hms{
    margin: 0px;
    font-size:3em;
    color:#fff;
    font-family:alarm;
  }
  #movimientos{
    width: 36%;
    margin: 0px;
    display: inline-block;
    text-align:center;
    font-size:3em;
    color:#fff;
    font-family: alarm;  
  }
  #winban{
    position: absolute;
    display: none;
    top:31%;
    width: 80%;
    margin-left: 6%;
  }
  #winbantexto{
    position: absolute;
    background-color: rgba(0, 0, 0, 40%);
    top:10%;
    width: 80%;
    color: white;
    text-shadow: 3px 3px blue;
    font-size: 1.5em;
  }
  .sobre{
    margin-left: 10%;
  }
  .boton{
    position: relative;
    left: -5%;
  }
  footer p{
    color: white;
    font-size: 120%;
    margin-top: 20%;
    }
}
