.title{
  /* background: black; */
  color: white;
  font-size: 2.4em;
  background-size: cover;
  text-align: center;
  text-shadow: 3px 3px blue;
  margin: 5px 0px;
  }
  
  body {
  background-image: url('../img/img/space.jpg') ;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size: 100% 99.99%;
  background-position: center center;
  background-attachment: fixed;
  text-align: center;
  }
  .navbar{
    background-color: black;
    text-align: center;
  }
  
  
 
@media (orientation: landscape) { 

  .navbar-brand{
    float: left;
    padding:1% 2%;
  }
    
    
}
/* vertical */
@media (orientation: portrait) { 
  .navbar-brand{
    float: left;
    padding:1.6% 2%;
  }
  
}